body {
    display: flex;
    align-items: center;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
}

.barraTopo {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    font-size: 40px;
}

.barraTopo img {
    width: 75px;
}

.barraBase {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    font-size: 18px;
}

.barraBase ion-icon {
    font-size: 32px;
}

input {
    border-style: none;
    outline: none;
    width: 100%;
}

input::placeholder {
    font-size: 18px;
    color: black;
    font-style: italic;
}

.containerMensagens {
    padding: 106px 0;
}

.balloon {
    font-size: 14px;
    padding: 14px;
    margin: 4px 0;
}

.status {
    background-color: #DCDCDC;
}

.message {
    background-color: white;
}

.privateMessage {
    background-color: #FFDEDE;
}
